{{ define "main" }}
  <article class="post">
    <header class="post-head">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        Published <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>{{ if not .Lastmod.IsZero }} · Updated <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time>{{ end }} · {{ .ReadingTime }} min read
      </div>
    </header>
    <div class="content">
      {{ .Content }}
    </div>
    {{ with .Params.related }}
      <hr />
      <h2>Related</h2>
      <ul>
        {{ range . }}
          <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </article>
{{ end }}
